.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    box-shadow: 11px 10px 0px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 11px 10px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 10px 0px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    border: 1px solid #666;
    min-height: max-content;
}

.left, .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.counter {
    font-size: 28px;
    font-weight: 300;
}

.link {
    width: max-content;
    font-size: 12px;
    border-bottom: 1px solid gray;
}

.percentage {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.percentagePositive {
    color: green;
}

.percentageNegative {
    color: red;
}

.icon {
    font-size: 18px;
    padding: 5px;
    background-color: blue;
    border-radius: 5px;
    align-self: flex-end;
}