.report {
    display: flex;
    width: 100%;
    background-color: #333;
}

.reportContainer {
    flex: 6;
}

.top {
    display: flex;
    padding: 20px;
    gap: 20px;
    width: 100%;
}

.left {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    color: #ddd;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 11px 10px 0px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 11px 10px 0px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 11px 10px 0px 0px rgba(0,0,0,0.5);
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

.itemKey{
    font-weight: bold;
    color: #796dfa;
    margin-right: 5px;
}

.itemValue{
    font-weight: 700;
    margin-right: 10px;
}

button {
    background-color: #796dfa;
    color: white;
    padding: 5px 12px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}